@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .bg-home {
    background-image: url('/images/home_bg.jpg');
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-main: var(--font-outfit);

  --color-brand-50: #222831;
  --color-brand-100: #393E46;
  --color-brand-500: #948979;
  --color-brand-900: #DFD0B8;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Outfit";
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}